<!-- app.component.html -->
<h2>Classes</h2>
<ul class="list-group">
  <li *ngFor="let class of classes; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
    {{ class.name }}
    <button type="button" class="btn btn-danger" (click)="deleteClass(i)">Delete</button>
  </li>
</ul>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Add Class" [(ngModel)]="newClassName">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="addClass()">Add Class</button>
  </div>
</div>

<h2>Students</h2>
<ul class="list-group">
  <li *ngFor="let student of students; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
    {{ student.name }} - {{ student.className }}
    <button type="button" class="btn btn-danger" (click)="deleteStudent(i)">Delete</button>
  </li>
</ul>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Name" [(ngModel)]="newStudentName">
  <select class="custom-select" [(ngModel)]="selectedClass">
    <option *ngFor="let class of classes" [value]="class.name">{{ class.name }}</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="addStudent()">Add Student</button>
  </div>
</div>
